.product-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product-form-input {
  margin: 1%;
  padding: 1%;
}

.product-form-select {
  margin: 1%;
  padding: 1%;
}

.product-form-button {
  margin: 1%;
  padding: 1%;
  width: 15%;
}
