.product {
  background: rgb(215, 244, 255);
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.product-selected {
  background: rgb(215, 255, 220);
}

.product-name {
  width: 10%;
}

.product-description {
  width: 20%;
}

.product-price {
  width: 10%;
}
